/*------------------------------------*\
  ================INDEX================

  #NORMALIZER =========================
	#COLORS =============================
	#FONTS ==============================
	#REGISTER ===========================
	#WAVE_TEXT ==========================
  #NAVBAR =============================
  #HOME ===============================
  #PROFILE-MODAL ======================
  #PROFILE-FORM =======================
  #CUSTOM-RADIO =======================
  #CUSTOM-SELECT ======================
  #404 ================================
  #PROFIL-PAGE ========================
  #DOUBLE-SLIDER ======================

\*------------------------------------*/

/*------------------------------------*\
  #NORMALIZER
\*------------------------------------*/

  * { 
  	margin: 0;
  	padding: 0;
  }

  html, body { 
    height: 100%;
  }

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

  $purple: #965FF4;
  $blue1: #637CFE;
  $green: #55FEDE;
  $blue2: #4ED0A3;
  $red: #d2545a;

/*------------------------------------*\
  #FONTS
\*------------------------------------*/

  @font-face {
  	font-family: 'Amarillo';
  	src: url('../fonts/Amarillo.otf');
  }

  @font-face {
  	font-family: 'Lato';
  	src: url('../fonts/Lato-Regular.ttf');
		font-weight: normal;
  }

	@font-face {
  	font-family: 'LatoBold';
  	src: url('../fonts/Lato-Bold.ttf');
		font-weight: bold;
  }

  @font-face {
    font-family: 'Latolight';
    src: url('../fonts/Lato-Light.ttf');
    font-weight: lighter;
  }

  $small-text: 15px;
  $medium-text: 20px;
  $big-text: 25px;

/*------------------------------------*\
  #REGISTER
\*------------------------------------*/

  .flex-container {
  	display: flex;
  }

	.register-background {
		background: $blue1; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(125deg, $blue1, $purple 80%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(125deg, $blue1, $purple 80%); /*For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(125deg, $blue1, $purple 80%); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(125deg, $blue1, $purple 80%); /* Standard syntax */
		background-attachment: fixed;
	}

  .connection-link {
  	position: absolute;
  	top: 2em;
  	right: 2em;
  }

  .forget-link {
    display: block;
    margin-bottom: 20px;
  }

	.link-btn {
		border: 2px solid #fff;
  	border-radius: 8px;
  	padding: 5px 8px 8px 8px;
  	text-decoration: none;
  	color: #fff;
  	font-size: $medium-text;
  	font-family: 'Lato';
		transition-duration: 0.5s
	}

  .link-btn:hover {
    background: #fff;
    color: $blue1;
  }

  .welcome-container {
  	width: 730px;
  	height: 600px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 130px;
  	padding: 20px;
  	font-family: 'Lato';
  }

  .welcome-pres {
  	float: left;
  	text-align: center;
  	height: 100%;
  	width: 50%;
  	margin: 0;
  }

  .logo {
    color: #fff;
  	font-family: 'Amarillo';
  	
  }

  .welcome-pres__title {
		float: left;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 55px;
  }

  .welcome-pres__info {
	  color: #fff;
    font-size: $medium-text;
		float: left;
    margin-top: 30px;
    margin-left: 30px;
  }

  .welcome-register {
  	float: right;
    width: 310px;
    height: 87%;
  }

  .form__box {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .form__title {
    margin-top: 25px;
    margin-bottom: 20px;
  	font-size: $big-text;
  	color: #fff;
  }

	.form__error {
		position: relative;
	}

  .form__input {
    border-radius: 8px;
    border: 2px solid #fff;
    background: none;
    padding: 5px;
    font-size: $small-text;
    position: relative;
    text-align: left;
    width: 96%;
    height: 26px;
    color: #fff;
  }

  .form__input::selected {
    background: red;
  }

  .form__input::-webkit-input-placeholder {
    color: $green;
  }

	*[data-error]::before {
    content: attr(data-error);
		color: white;
    display: block;
    position: absolute;
    top: 13%;
    left: 104%;
    background: $red;
    width: 280px;
    padding: 4px;
    box-shadow: 0px 4px 12px black;
    border-radius: 8px 8px 8px 0px;
	}

  .btn-submit {
    color: #fff;
		font-size: $medium-text;
		padding: 5px;
  	height: 50px;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 20px;
  	text-align: center;
  	text-transform: uppercase;
		font-family: 'LatoBold';
		transition-duration: 0.2s;
    transform: scale(1.1);
    box-shadow: 1px 1px 3px #000;
    background: #fff;
    color: $blue1;
  }
  
  .btn-submit:hover {
    cursor: pointer;
		transition-duration: 0.2s;
    transform: scale(1);
  }

	/*------------------------------------*\
		#WAVE_TEXT
	\*------------------------------------*/

	$offset : -30px;
	$count : 15;
	$duration : 1.5;

	@keyframes wave {
		from { transform : translateY(0);}
		to   { transform : translateY( $offset ); }
	}

	.wavetext span {
		display: inline-block;
		animation-duration: #{$duration}s;
		animation-name: wave;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		transition-duration: 1s;
	}

	@for $i from 0 to $count {
		.wavetext :nth-child( #{$count}n + #{$i} ) {
				animation-delay : -#{($count - $i) * 1 * $duration / $count }s;
		}
	}

  /*------------------------------------*\
    #LOGIN
  \*------------------------------------*/
  
  .logo-login {
    font-size: 26px;
    width: 208px;
    margin-left: auto;
    margin-right: auto;
  }

  .home-login {
    font-family: 'Lato';
    width: 300px;
    margin: 0 auto;
    margin-top: 180px;
  }

  .form__login {
    margin-top: 55px;
  }

  /*------------------------------------*\
    #NAVBAR
  \*------------------------------------*/

  $color-home: #34BFBF;
  $color-profile: #1894C9;
  $color-notif: #466FBA;
  $color-chat: #565BBF;

  .navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    width: 100px;
    background: -webkit-linear-gradient(35deg, $blue1, $purple 80%);
    background: -o-linear-gradient(35deg, $blue1, $purple 80%);
    background: linear-gradient(125deg, $blue1, $purple 80%);
  }

  .navbar ul {
    list-style: none;
  }

  .navbar-item {
    text-decoration: none;
    display: block;
    text-align: center;
    height: 100px;
    color: #fff;
    line-height: 6.2;
  }

  .navbar-item__selected {
    cursor: pointer;
    border-left: 4px solid $green;
  }

  .navbar-item:hover {
    cursor: pointer;
    border-left: 4px solid $green;
  }

  .navbar__home {
    background: $color-home;
    line-height: 90px;
  }

  .navbar__profile {
    background: $color-profile;
  }

  .navbar__notification {
    background: $color-notif;
  }

  .navbar__chat {
    background: $color-chat;
  }

  .ei-position {
    margin-top: 20px;
  }

  /*------------------------------------*\
    #HOME
  \*------------------------------------*/

  .app-wrap {
    overflow-x: hidden;
    height: 100vh;
    margin-left: 100px;
  }

  .home-logo {
  	font-family: 'Amarillo';
    vertical-align: middle;
    font-size: $medium-text
  }

  .home-page {
    background: $color-home;
    font-family: 'Lato';
  }

  .profile-page {
    background: $color-profile;
  }

  .notification-page {
    background: $color-notif;
  }

  .chat-page {
    background: $color-chat;
  }

  .navbar__logout {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .search-bar {
    background-color: $blue1;
    width: 100%;
    overflow: auto;
    height: 6.3em;
  }

  .search-link {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    color: $blue1;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    background-color: $green;
    margin-top: 30px;
    text-align: center;
    line-height: 40px;
    transition: 0.5s;
  }

  .search-link:hover {
    transform: scale(0.9);
  }

  .filter-sort-bar {
    display: flex;
    background-color: $purple;
    width: 100%;
    overflow: auto;
    height: 6.3em;
  }

  .filter-bar {
    flex: 1;
    border-right: 2px solid #fff;
  }

  .filter-bar__row {
    width: 100%;
    display: flex;
    height: 50%;
  }

  .filter-label {
    color: #fff;
    text-transform: uppercase;
  }

  .filter-slider {
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 6px;
    color: #fff;
  }

  .sort-bar {
    flex: 1;
    text-align: center;
  }

  .sort {
    height: 40px;
    width: 400px;
    background-color: transparent;
    border: 2px solid #fff;
    margin-bottom: 7px;
    margin-top: 5px;
    color: #fff;
    font-size: 1em;
  }

  .display-users {
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .user-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .user-item {
    background-color: $blue1;
    overflow: hidden;
    border-radius: 8px;
    height: 500px;
    width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .user-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }

  .user-link {
    text-decoration: none;
    color: #fff;
  }

  .user-item__pic {
    width: 100%;
    height: 60%;
  }

  .user-item__login {
    width: 100%;
    background-color: $green;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: $blue1;
    font-size: 20px;
    margin-top: -3px;
  }

  .user-item__row {
    width: 100%;
    margin-top: 15px;
    height: 57px;
    display: flex;
  }

  .user-item-info {
    flex: 1;
    text-align: center;
  }

  .modal-search {
    height: 450px !important;
  }

  /*------------------------------------*\
    #PROFILE-MODAL
  \*------------------------------------*/

  .profile-modal {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    font-family: 'Lato';
  }

  .modal-close {
    position: absolute;
    display: inline-block;
    top: 0.2em;
    right: 0.2em;
    color: #fff;
    cursor: pointer;
  }

  .modal-close:hover {
    color: $green;
  }

  .profile-modal__hidden {
    display: none;
  }

  .form-input__profile {
    margin: 0;
    width: 385px;
    height: 26px;
  }

  .profile-modal__title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }

  .profile-form {
    margin-top: 20px;
  }

  .form-localise-link {
    float: right;
    color: #fff;
  }

  .profile-submit {
    width: 91%;
    margin-top: 15px;
  }

  .profile-modal__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    background: linear-gradient(125deg, $blue1, $purple 80%);
    border-radius: 8px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.4);
    animation-name: animatetop;
    animation-duration: 1s;
    padding: 35px 60px 35px 60px;
    text-align: center;
  }

  .profile-modal__content__modif {
    height: 810px;
  }

  @keyframes animatetop {
      from {
        top: -1000px;
      }
      to {
        top: 50%;
      }
  }

  .form_error-profile::before {
    left: 420px !important;
  }

  .profile-location-icon {
    margin: -7px;
    margin-right: 0px;
  }

  /*------------------------------------*\
    #PROFILE-FORM
  \*------------------------------------*/

  .form-label {
    text-align: left;
    font-size: 12px;
    color: $green;
    display: block;
    margin-bottom: 5px;
  }

  .form-row {
    margin-bottom: 10px;
  }

  .date-select {
    height: 40px;
  }

  .date-input {
    width: 115px !important;
    text-align: center;
    color: #fff;
  }

  .date-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
  }

  .date-input__day {
    float: left;
  }

  .date-input__year {
    float: right;
  }

  .form-textarea {
    margin: 0px;
    width: 386px;
    height: 54px;
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 8px;
    resize: none;
    padding: 5px;
  }

  .tags-input {
    border: 2px solid #fff !important;
    border-radius: 8px !important;
    height: 66px !important;
    background: transparent !important;
  }

  .tagit-label {
    color: $blue1;
  }

  /*------------------------------------*\
    #CUSTOM-RADIO
  \*------------------------------------*/

  .custom-radio ul {
    list-style: none;
    font-family: 'Lato';
  }

  .custom-radio ul li:first-child {
    margin-right: -3px;
    border-right: 1px solid #fff;
    border-radius: 8px 0px 0px 8px;
  }

  .custom-radio ul li:last-child {
    margin-left: -2px;
    border-left: 1px solid #fff;
    border-radius: 0px 8px 8px 0px;
  }

  .custom-radio ul li {
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    height: 100%;
    cursor: pointer;
    width: 197px;
    text-align: center;
  }

  .custom-radio ul li:hover {
    background-color: #fff;
    color: $blue1;
  }

  .custom-radio ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
  }

  .custom-radio ul li label {
    font-size: $medium-text;
    line-height: 36px;
    width: 100%;
    display: block;
    cursor: pointer;
  }

  input[type=radio]:checked ~ .check {
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: -36px;
    z-index: -1;
    position: relative;
  }

  input[type=radio]:checked ~ label {
    background-color: #fff;
    color: $blue1;
  }

  /*------------------------------------*\
    #CUSTOM-SELECT
  \*------------------------------------*/

  .custom-select {
    height: 40px;
  }

  .custom-select select {
    background-color: transparent;
    text-align-last: center;
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 2px 10px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 8px;
    height: 100%;
  }

  .custom-select select::-webkit-input-placeholder {
    color: #fff;
  }

  .custom-select select option{
    max-width: 200px;
  }

  .accent{
    position: relative;
    bottom: 30px;
    color: white;
    left: 180px;
    transform: rotateX(50deg);
    display: inline-block;
  }

  .check-option__3 {
    width: 128px !important;
  }

  .check-option__middle {
    border-left: 1px solid;
    border-right: 1px solid;
    margin-left: -2px;
    margin-right: -2px;
    width: 135px !important;
  }

  /*------------------------------------*\
    #404
  \*------------------------------------*/

  .notfound-container {
    color: #fff;
    width: 261px;
    padding-top: 220px;
    font-family: 'Lato';
    font-size: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  /*------------------------------------*\
    #PROFIL-PAGE
  \*------------------------------------*/

  .profil-error {
    font-family: 'LatoLight';
    font-size: 2em;
    color: #fff;
    position: relative;
    top: 6em;
    text-align: center;
  }

  .profil-error__login {
    font-family: 'Lato';
    text-decoration: underline;
  }

  .profil-box {
    font-family: 'Lato';
    color: #fff;
  }

  .profil-bar {
    height: 18.77em;
    overflow: hidden;
    width: 60em;
    margin: 0 auto;
    position: relative;
  }

  .profil-bar-picplace {
    border-radius: 50%;
    overflow: hidden;
    height: 81%;
    width: 15em;
    border: 2px solid $green;
    position: relative;
    top: 1.7em;
    display: inline-block;
  }

  .profil-bar__picture {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .profil-bar__picture_noh {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .profil-bar__picture:hover {
    opacity: 0.5;
  }
  
  .profil-bar-login {
    position: relative;
    display: inline-block;
    bottom: 2.5em;
    left: 0.3em;
    font-size: 3em;
    font-family: 'Lato';
  }

  .profil-bar-info {
    position: absolute;
    display: inline-block;
    bottom: 2.4em;
    left: 5.5em;
    font-size: 3em;
    font-family: 'Lato';
  }

  .profil-bar-fullname {
    font-size: 0.5em;
    font-family: 'LatoLight';
  }

  .status {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
  }

  .status-on {
    background-color: $green;
    width: inherit;
    height: inherit;
    font-size: 13px;
    padding: 6px;
    border-radius: 8px;
    color: $blue1;
  }

  .status-off {
    background-color: $red;
    width: inherit;
    height: inherit;
    font-size: 13px;
    padding: 6px;
    border-radius: 8px;
  }

  .sexe-symbol {
    color: $green;
    font-size: 0.7em;
  }

  .profil-bar-interests {
    display: flex;
    position: relative;
    left: 16em;
    bottom: 3.5em;
  }

  .like {
    cursor: pointer;
    position: absolute;
    top: 130px;
    right: 50px;
    background-color: $red;
    padding: 4px 8px;
    border-radius: 8px;
    transition-duration: 0.5s;
  }

  .like:hover {
    transform: scale(0.9);
  }

  .profil-bar-interests__item {
    background-color: $blue1;
    margin: 0.3em;
    padding: 0.2em 1em 0.4em 1em;
    border-radius: 1em;
    font-family: 'LatoLight';
    font-size: 1.2em;
  }

  .profil-infobar {
    background-color: $blue1;
    width: 100%;
    overflow: auto;
    height: 6.2em;
  }

  .profil-infobar-wrap {
    text-align: center;
    overflow: hidden;
    height: 100%;
  }

  .profil-infobar__item {
    display: inline-block;
    width: 24%;
    height: inherit;
    font-size: 2.2em;
    font-family: 'LatoLight';
  }

  .item-value {
    margin-top: 0.2em;
  }

  .profil-bio {
    width: 40em;
    height: auto;
    background-color: $blue1;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'LatoLight';
    font-size: 1.5em;
    word-wrap: break-word;
  }

  .profil-mod {
    position: relative;
    bottom: 6.5em;
    float: right;
  }

  .profil-mod:hover {
    color: $green;
    cursor: pointer;
  }

  .white-link {
    color: #fff;
  }

  .profil-photo-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 60em;
    height: 40em;
    margin-bottom: 4em;
  }

  .profil-photo_item {
    box-sizing: border-box;
    border: 1px solid $green;
    width: 50%;
    height: 50%;
    background-color: $blue1;
    overflow: hidden;
  }

  .profil-photo_item:first-child {
    border-top: none;
    border-left: none;
    border-radius: 8px 0px 0px 0px;
  }

  .profil-photo_item:nth-child(2) {
    border-top: none;
    border-right: none;
    border-radius: 0px 8px 0px 0px;    
  }

  .profil-photo_item:nth-child(3) {
    border-bottom: none;
    border-left: none;
    border-radius: 0px 0px 0px 8px;    
  }

  .profil-photo_item:last-child {
    border-bottom: none;
    border-right: none;
    border-radius: 0px 0px 8px 0px;
  }

  .profil-photos {
    width: 100%;
    height: 100%;
  }

  .action-user {
    margin: 0 auto;
    text-align: center;
  }

  .action-user a {
    text-decoration: none;
    color: #fff;
  }
  
  .block-user {
    margin-right: 10em;
  }


  .action-button {
    display: inline-block;
    background-color: $red;
    padding: 5px;
    margin-bottom: 4em;
    color: #fff;
    border-radius: 8px;
    height: 3em;
    line-height: 3em;
    font-size: 20px;
    width: 10em;
    transition: 0.5s;
    cursor: pointer;
  }

  .action-button:hover {
    transform: scale(0.8);
  }

  .deblock-btn {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .block-link {
    text-decoration: none;
    display: block;
    margin-top: 220px;
    position: relative;
    width: 212px;
    margin-left: auto;
    margin-right: auto;
  }

  /*------------------------------------*\
  #PICTURE-MODAL
  \*------------------------------------*/

  .profilpic-modal {
    height: 380px;
  }

  .modal-profil-picture-upload {
    width: 15em;
    height: 15em;
    position: initial;
    margin-top: 2em;
  }

  .modal-profil-picture-upload:hover {
    opacity: 1;
  }

  .hublot {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid $green;
    height: 15em;
    width: 15em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .photo-frame {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 16em;
    border: 1px solid $green;
  } 

  .photo {
    width: 100%;
    height: 100%;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .pic-upload {
    float: left;
    width: 180px;
    height: 2em;
    font-size: 15px;
    line-height: 2em;
    border-radius: 8px;
  }

  .submit-picture {
    float: right;
    width: 180px;
    height: 2.7em;
    line-height: 1.9em;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
  }

  .file-error {
    background-color: $red;
    width: 520px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 1em;
    box-sizing: border-box;
    word-break: break-word;
    position: absolute;
    top: -4em;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -15%);
  }

  /*------------------------------------*\
  #DOUBLE-SLIDER
  \*------------------------------------*/

  section.range-slider {
    position: relative;
    width: 200px;
    height: 45px;
    text-align: center;
  }

  section.range-slider input {
      pointer-events: none;
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 15px;
      width: 200px;
      outline: none;
      height: 18px;
      margin: 0;
      padding: 0;
  }

  section.range-slider input::-webkit-slider-thumb {
      pointer-events: all;
      position: relative;
      z-index: 1;
      outline: 0;
  }

  section.range-slider input::-moz-range-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -moz-appearance: none;
      width: 9px;
  }

  section.range-slider input::-moz-range-track {
      position: relative;
      z-index: -1;
      background-color: rgba(0, 0, 0, 1);
      border: 0;
  }
  section.range-slider input:last-of-type::-moz-range-track {
      -moz-appearance: none;
      background: none transparent;
      border: 0;
  }
    section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
  }

  /*------------------------------------*\
  #NOTIFICATIONS-PAGE
  \*------------------------------------*/

  .visit-notif-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lato';
    text-align: center;
  }

  .notif-title {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    display: block;
  }

  .notif-box {
    box-sizing: border-box;
    width: 400px;
    background-color: $purple;
    border-radius: 8px;
    margin-right: 50px;
  }

  .visit-box {
    box-sizing: border-box;
    width: 400px;
    background-color: $purple;
    border-radius: 8px;
  }

  .list-visit {
    list-style: none;    
  }

  .item-visit {
    background-color: $red;
    padding: 4px 8px;
    margin-bottom: 10px;
  }

  .item-visit-unseen {
    background-color: $green;
  }