/*------------------------------------*\
  ================INDEX================

  #NORMALIZER =========================
	#COLORS =============================
	#FONTS ==============================
	#REGISTER ===========================
	#WAVE_TEXT ==========================
  #NAVBAR =============================
  #HOME ===============================
  #PROFILE-MODAL ======================

\*------------------------------------*/

/*------------------------------------*\
  #NORMALIZER
\*------------------------------------*/

  * { 
  	margin: 0;
  	padding: 0;
  }

  html, body {
    height: 100%;
  }

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$purple: #965FF4;
$blue1: #637CFE;
$green: #55FEDE;
$blue2: #4ED0A3;
$red: #d2545a;

/*------------------------------------*\
  #FONTS
\*------------------------------------*/

  @font-face {
  	font-family: 'Amarillo';
  	src: url('../fonts/Amarillo.otf');
  }

  @font-face {
  	font-family: 'Lato';
  	src: url('../fonts/Lato-Regular.ttf');
		font-weight: normal;
  }

	@font-face {
  	font-family: 'LatoBold';
  	src: url('../fonts/Lato-Bold.ttf');
		font-weight: bold;
  }

  $small-text: 15px;
  $medium-text: 20px;
  $big-text: 25px;

/*------------------------------------*\
  #REGISTER
\*------------------------------------*/

  .home-wrap {
  	display: flex;
  }

	.home-background {
		background: $blue1; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(125deg, $blue1, $purple 80%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(125deg, $blue1, $purple 80%); /*For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(125deg, $blue1, $purple 80%); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(125deg, $blue1, $purple 80%); /* Standard syntax */
		background-attachment: fixed;
	}

  .home-connection-link {
  	position: absolute;
  	top: 2em;
  	right: 2em;
  }

	.btn-connection {
		border: 2px solid #fff;
  	border-radius: 8px;
  	padding: 5px 8px 8px 8px;
  	text-decoration: none;
  	color: #fff;
  	font-size: $medium-text;
  	font-family: 'Lato';
		transition-duration: 0.5s
	}

  .home-container {
  	width: 730px;
  	height: 600px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 130px;
		margin-bottom: 130px;
  	padding: 20px;
  	font-family: 'Lato';
  }

  .home-pres {
  	float: left;
  	text-align: center;
  	height: 100%;
  	width: 50%;
  	margin: 0;
  }

  .logo-matcha {
    color: #fff;
  	font-family: 'Amarillo';
  	
  }

  .home-pres__title {
		float: left;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 55px;
  }

  .home-pres__info {
	  color: #fff;
    font-size: $medium-text;
		float: left;
    margin-top: 30px;
    margin-left: 30px;
  }

  .home-register {
  	float: right;
    width: 49%;
    height: 100%;
  }

  .form__box {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 8px;
  }

  .form__title {
    margin-top: 25px;
    margin-bottom: 20px;
  	font-size: $big-text;
  	color: #fff;
  }

	.form__error {
		position: relative;
	}

  .form__input {
    border-radius: 4px;
    border: 2px solid #fff;
    background: none;
    padding: 5px;
    font-size: $small-text;
  }

  .form__input::selected {
    background: red;
  }

  .form__input::-webkit-input-placeholder {
    color: $green;
  }

	*[data-error]::before {
    content: attr(data-error);
		color: white;
    display: block;
    position: absolute;
    top: 13%;
    left: 97%;
    background: $red;
    width: 280px;
    padding: 4px;
    box-shadow: 0px 4px 12px black;
    border-radius: 8px 8px 8px 0px;
	}
  
  .register-input {
    position: relative;
    text-align: left;
    width: 80%;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #fff;
  }

  .register-submit {
    margin-top: 50px;
  }

  .btn-submit {
    color: #fff;
		font-size: $medium-text;
		padding: 5px;
  	height: 50px;
    width: 80%;
  	text-align: center;
  	text-transform: uppercase;
		font-family: 'LatoBold';
		transition-duration: 0.2s;
    transform: scale(1.1);
    box-shadow: 1px 1px 3px #000;
    background: #fff;
    color: $blue1;
  }
  
  .btn-hover:hover {
    cursor: pointer;
		transition-duration: 0.2s;
    transform: scale(1);
  }

  .link-hover:hover {
    background: #fff;
    color: $blue1;
  }

	/*------------------------------------*\
		#WAVE_TEXT
	\*------------------------------------*/

	$offset : -30px;
	$count : 15;
	$duration : 1.5;

	@keyframes wave {
		from { transform : translateY(0);}
		to   { transform : translateY( $offset ); }
	}

	.wavetext span {
		display: inline-block;
		animation-duration: #{$duration}s;
		animation-name: wave;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		transition-duration: 1s;
	}

	@for $i from 0 to $count {
		.wavetext :nth-child( #{$count}n + #{$i} ) {
				animation-delay : -#{($count - $i) * 1 * $duration / $count }s;
		}
	}

  /*------------------------------------*\
    #LOGIN
  \*------------------------------------*/
  
  .logo {
    font-size: 26px;
    width: 208px;
    margin-left: auto;
    margin-right: auto;
  }

  .home-login {
    font-family: 'Lato';
    width: 300px;
    margin: 0 auto;
    margin-top: 180px;
  }

  .form__login {
    margin-top: 55px;
  }

  .login-submit {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  /*------------------------------------*\
    #NAVBAR
  \*------------------------------------*/

  .navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    width: 100px;
    background: -webkit-linear-gradient(35deg, $blue1, $purple 80%);
    background: -o-linear-gradient(35deg, $blue1, $purple 80%);
    background: linear-gradient(125deg, $blue1, $purple 80%);
  }

  .navbar ul {
    list-style: none;

  }

  .navbar-item {
    text-decoration: none;
    display: block;
    text-align: center;
    height: 100px;
    color: #fff;
    line-height: 100px;
  }

  .navbar-item:hover {
    cursor: pointer;
    border-left: 2px solid red;
  }

  // $color1: #4BC2DA;
  $color2: #1894C9;
  $color3: #466FBA;
  // $color4: #534B87;
  $color1: #34BFBF;
  // $color2: #3999BF;
  // $color3: #4B71BF;
  $color4: #565BBF;

  .navbar__home {
    background: $color1;
  }

  .navbar__profile {
    background: $color2;
  }

  .navbar__notification {
    background: $color3;
  }

  .navbar__chat {
    background: $color4;
  }

  /*------------------------------------*\
    #HOME
  \*------------------------------------*/

  .app-wrap {
    overflow-x: hidden;
    height: 100vh;
    margin-left: 100px;
  }

  .home-logo {
  	font-family: 'Amarillo';
    vertical-align: middle;
    font-size: $medium-text
  }

  .home-page {
    background: $color1;
  }

  .profile-page {
    background: $color2;
  }

  .notification-page {
    background: $color3;
  }

  .chat-page {
    background: $color4;
  }

  .navbar__logout {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  /*------------------------------------*\
    #PROFILE-MODAL
  \*------------------------------------*/

  .profile-modal {
    // display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-family: 'Lato';
  }

  .profile-modal__title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
  }

  .profile-form {
    margin-top: 70px;
  }

  .profile-modal__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 700px;
    background: linear-gradient(125deg, $blue1, $purple 80%);
    border-radius: 8px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.4);
    animation-name: animatetop;
    animation-duration: 1s;
    padding: 40px 60px 40px 60px;
    text-align: center;
  }

  @keyframes animatetop {
      from {
        top: -1000px;
      }
      to {
        top: 50%;
      }
  }

  .form-label {
    float: left;
    font-size: $medium-text;
    color: #fff;
  }

  .custom-radio__label { 
    display: inline-block;
  }

  .custom-radio ul {
    margin-top: 2px;
    display: inline-block;
    list-style: none;
  }

  .select-choice {
    float: right;
  }

  .custom-radio ul li:first-child {
    margin-right: 30px;
  }

  .custom-radio ul li {
    display: inline-block;
    color: #FFF;
  }

  .custom-radio ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
  }

  .custom-radio ul li label {
    position: relative;
    font-weight: 200;
    font-size: $small-text;
    padding: 5px 10px 5px 25px;
    margin: 10px auto;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
  }

  .custom-radio ul li .check {
    display: block;
    position: relative;
    border: 3px solid #FFF;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: -19px;
    z-index: 5;
    transition: border .25s linear;
  }


  .custom-radio ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 9px;
    width: 9px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
  }

  input[type=radio]:checked ~ .check {
    border: 3px solid $green;
  }

  input[type=radio]:checked ~ .check::before {
    background: $green;
  }

  input[type=radio]:checked ~ label {
    color: $green;
  }

  .sexe-radio {
    margin-bottom: 30px;
    height: 25px;
  }

  .custom-select__title {
    display: inline-block;
  }

  .orientation-select {
    display: inline-block;
    width: 50%;
  }

  .custom-select .item {
    color: #fff;
    border: 2px solid #fff;
  }

  .custom-select .item:hover {
    .drop-down {
      display: inline;
    }
  }

  .custom-select ul {
    list-style: none;
  }

  .drop-down {
      // display: none;
  }